<div class="modal-container">
    <h1>Ranking Edit</h1>
    <div class="main-container">
        <form [formGroup]="editForm">
            <div>
                <label>PLID</label>
                <input id="id" type="text" name="id" placeholder="ID" formControlName="plid" readonly>
            </div>
            <div>
                <label>Nickname</label>
                <input id="nickname" type="text" name="nickname" placeholder="Nickname" formControlName="nickname" readonly>
            </div>
            <div>
                <label>Points</label>
                <input id="points" type="text" name="points" placeholder="Points" formControlName="points">
            </div>
        </form>
        <div class="sub-container">
            <button (click)="onNoClick()" class="cancel">Cancel</button>
            <button (click)="send()" class="send">Send</button>
        </div>
    </div>
</div>