.main-container {
    margin-top: 10em;
    text-align: center;
}

.main-container .tittle {
    margin-bottom: 3em;

    h1 {
        text-align-last: center;
        font-size: 50px;
        margin: 0;
    }
}

.inner-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h2 {
        text-align-last: center;
        text-decoration: underline;
    }

    .section {
        flex-grow: 8;
        margin-left: 10em;
        margin-right: 10em;
        // border: 1px solid black;

        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .section-2 {
        flex-grow: 8;
        margin-left: 10em;
        margin-right: 10em;
        // margin-top: 5em;
        // border: 1px solid black;
    }
    
    input{
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
    }
}   
.overflow{
    max-height: 200px;
    overflow-y: scroll;
    border:1px solid  #666666;
}
.divTable
{
    display:  table;

    width:auto;
    background-color:#eee;
    
    border-spacing:5px;/*cellspacing:poor IE support for  this*/
   /* border-collapse:separate;*/
}

.divRow
{
   display:table-row;
   width:auto;
}

.divCell
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:200px;
    background-color:#ccc;

    .del{
        max-height: 18px;
        background-color: rgba(255, 0, 0, 0.5);
        color: white;
        border: .5px solid rgba(0, 0, 0, 0.5);
    }
    .del:hover{
        background-color: rgba(184, 0, 0, 0.7);
    }
    .edit{
        max-height: 18px;
        background-color: rgba(0, 128, 0, 0.5);
        color: white;
        border: 0;
        border: .5px solid rgba(0, 0, 0, 0.5);
        
        margin-left: .5em;
    }
    .edit:hover{
        background-color: rgba(0, 128, 0, 0.7);
    }
}

@media screen and (min-width:800px) {
    .inner-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
}