<div class="topnav" id="myTopnav">
    <button (click)="openmenu()"><img  [src]="menuicon" alt="menu icon" class="menuicon"></button>
    <nav>
        <a [href]="ranking" class="active">Ranking</a>
        <a [href]="statistics" class="nonactive">Statistics</a>
        <a [href]="achivement" class="nonactive">Achivements</a>
        <a [href]="download" class="nonactive">Download</a>
        <a [href]="admin" class="nonactive">Admin Zone</a>
    </nav>
    <div>
        <!-- <a [href]="select" class="user"><img [src]=imgsrc alt="user image" class="userimg"></a> -->
        <a (click)="onUser()" class="user"><img [src]=imgsrc alt="user image" class="userimg"></a>
    </div>
</div>
<div class="hammenu" id="hammenu">
    <a [href]="ranking" class="active">Ranking</a>
    <a [href]="statistics" class="nonactive">Statistics</a>
    <a [href]="achivement" class="nonactive">Achivements</a>
    <a [href]="download" class="nonactive">Download</a>
    <a [href]="admin" class="nonactive">Admin Zone</a>
</div>