<div class="modal-container">
    <h1>User Edit</h1>
    <div class="main-container">
        <form [formGroup]="editForm">
            <div>
                <label>PLID</label>
                <input id="id" type="text" name="id" placeholder="ID" formControlName="plid" readonly>
            </div>
            <div>
                <label>Email</label>
                <input id="mail" type="text" name="mail" placeholder="Mail" formControlName="email">
            </div>
            <div>
                <label>Nickname</label>
                <input id="nickname" type="text" name="nickname" placeholder="Nickname" formControlName="nickname">
            </div>
            <div>
                <label>Pasword</label>
                <input id="password" type="text" name="password" placeholder="password" formControlName="password">
            </div>
        </form>
        <a class="error-sub" id="pswd-label1" for="password">This password is not valid try another one.</a>
        <a class="error-sub" id="pswd-label2" for="password">Must have a minimum of 8 characters between letters, numbers and special characters.</a>
        <a class="error-sub" id="nickname-label1" for="nickname">This nickname is not valid try another one.</a>
        <a class="error-sub" id="nickname-label2" for="nickname">Must have a minimum of 6 characters.</a>
        <a class="error-sub" id="mail-label" for="mail">This email is not valid try another one.</a>
        <div class="sub-container">
            <button (click)="onNoClick()" class="cancel">Cancel</button>
            <button (click)="send()" class="send">Send</button>
        </div>
    </div>
</div>