<div class="main-container">
    <div class="tittle">
        <h1>Download</h1>
    </div>
    <div class="inner-container">
        <div>
            <button (click)="onClic()">
                <img [src]="imgpath" alt="login icon">
            </button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <td>Release Notes</td>
                    </tr>
                </thead>
                <tbody>
                    <p>* The game is in early stage development</p>
                </tbody>
            </table>
        </div>
    </div>
</div>