@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html body{
    background-image: url("./assets/images/background.png");
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}