<div class="main-container">
    <h1>Ranking Table</h1>
    <div class="filter-container">
        <button (click)="DownloadReport()">Download public report</button>
        <button id="sendreport" (click)="SendReport()">Send public report</button>
        <label><input  [formControl]="checkboxControl" type="checkbox" id="cbox1" value="checkbox">Generate Chart</label>
    </div>
    <div class="inner-container">
        <h2 id="error">Service failure please try again.</h2>
        <table>
            <thead>
                <tr>
                    <td class="hidden">User ID</td>
                    <td>Nickname</td>
                    <td>Points</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of rankingData" class="tr-anim">
                    <td class="hidden">{{x.ID}}</td>
                    <td>{{x.Username}}</td>
                    <td>{{x.POINTS}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>