<div class="main-container">
    <h1>Your Statistics</h1>
    <div class="inner-container">
        <h2 id="error">Service failure please try again</h2>
        <table>
            <thead>
                <tr>
                    <td class="hidden">Score record</td>
                    <td>{{score}}</td>
                </tr>
                <tr>
                    <td class="hidden">---</td>
                    <td class="undevelp">Developing</td>
                </tr>
                <tr>
                    <td class="hidden">---</td>
                    <td class="undevelp">Developing</td>
                </tr>
                <tr>
                    <td class="hidden">--</td>
                    <td class="undevelp">Developing</td>
                </tr>
                <tr>
                    <td class="hidden">---</td>
                    <td class="undevelp">Developing</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
